{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <!-- {% include 'navbar.html' %} -->  
    <!-- upar wala wha thik jha ek do chize specifi alag bnani ho -->
    <!-- warns pure ke liye main.html aur extend wali cmd -->

    {% block content %}
    <h1>room template of {{room.name}}</h1>
    {% endblock content %}

    <!-- to add variable, put variables name in double {}-->
</body>
</html>